@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-base: #0a0a0a;
  --color-gridline: #1e1e1e;
  --size-gridline: 0.8px;
  --font-mono: "CommitMono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-primary: #ffc900;
  --color-terminal: var(--color-primary);
  --header-height: 52px;
  --default-border-width: var(--size-gridline);
}

@utility prose {
  --tw-prose-pre-bg: #141414;
}

@layer base {
  ::selection {
    color: var(--color-base);
    background-color: var(--color-primary);
    text-decoration-color: var(--color-primary);
  }

  @font-face {
    font-family: "CommitMono";
    font-style: normal;
    font-weight: 400 600;
    font-display: swap;
    font-feature-settings: "ss03", "ss04", "ss05", "cv01", "cv02", "cv06", "cv07";
    line-height: 16px;
    src: url("/fonts/CommitMono.woff2") format("woff2");
  }

  html {
    font-size: 12px;
  }

  body {
    height: 100%;
    background-color: var(--color-base);
    color: #e0e0e0;
    font-family: var(--font-mono);
    font-optical-sizing: auto;
    overscroll-behavior: none;
  }

  code {
    font-family: inherit;
    line-height: 1;
  }

  .prose {
    font-size: inherit !important;
    line-height: inherit !important;
  }

  .prose-sm {
    font-size: inherit !important;
    line-height: inherit !important;
  }
}
