@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-base: #0a0a0a;
  --color-gridline: #1e1e1e;
  --size-gridline: 0.8px;
  --scaled-font-size: 0.9;
  --text-xs: calc(0.75rem * var(--scaled-font-size));
  --text-xs--line-height: calc((1 / 0.75) * var(--scaled-font-size));
  --text-sm: calc(0.875rem * var(--scaled-font-size));
  --text-sm--line-height: calc((1.25 / 0.875) * var(--scaled-font-size));
  --text-base: calc(1rem * var(--scaled-font-size));
  --text-lg: calc(1.125rem * var(--scaled-font-size));
  --text-lg--line-height: calc((1.75 / 1.125) * var(--scaled-font-size));
  --text-2xl: calc(1.5rem * var(--scaled-font-size));
  --text-2xl--line-height: calc((2 / 1.5) * var(--scaled-font-size));
  --text-3xl: calc(1.875rem * var(--scaled-font-size));
  --text-3xl--line-height: calc((2.25 / 1.875) * var(--scaled-font-size));
  --font-mono: "CommitMono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-primary: #ffc900;
  --color-terminal: var(--color-primary);
  --header-height: 52px;
  --default-border-width: var(--size-gridline);
}

@utility prose {
  --tw-prose-pre-bg: #141414;
}

@layer base {
  ::selection {
    color: var(--color-base);
    background-color: var(--color-primary);
    text-decoration-color: var(--color-primary);
  }

  @font-face {
    font-family: "CommitMono";
    font-style: normal;
    font-weight: 400 600;
    font-display: swap;
    font-feature-settings:
      "ss03",
      "ss04",
      "ss05" "cv01",
      "cv02",
      "cv06",
      "cv07";
    line-height: 16px;
    src: url("/fonts/CommitMono.woff2") format("woff2");
  }

  body {
    height: 100%;
    background-color: var(--color-base);
    color: #e0e0e0;
    font-family: var(--font-mono);
    font-optical-sizing: auto;
    font-size: var(--text-xs);
    overscroll-behavior: none;
  }

  @media (min-width: 390px) {
    body {
      font-size: var(--text-sm);
    }
  }

  @media (min-width: 480px) {
    body {
      font-size: var(--text-base);
    }
  }

  code {
    font-family: inherit;
    line-height: 1;
  }

  .prose {
    font-size: inherit !important;
    line-height: inherit !important;
  }

  .prose-sm {
    font-size: inherit !important;
    line-height: inherit !important;
  }
}
