@import "tailwindcss";

@font-face {
  font-family: 'CommitMono';
  src: url('https://raw.githubusercontent.com/eigilnikolajsen/commit-mono/ecd81cdbd7f7eb2acaaa2f2f7e1a585676f9beff/src/fonts/fontlab/CommitMonoV143-VF.woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html {
  line-height: 1.5;
  height: 100%;
}

body {
  background-color: #1c1c1c;
  color: #fafafa;
  height: 100%;
  font-optical-sizing: auto;
  font-size: 0.78em;
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

pre a {
  text-decoration: none;
}

code {
  font-family: 'CommitMono', monospace;
  font-feature-settings: 'ss03', 'ss04', 'ss05';
  line-height: 1;
}

a {
  color: inherit;
}

@media (min-width: 390px) {
  body {
    font-size: 0.86em;
  }
}

@media (min-width: 480px) {
  body {
    font-size: 0.94em;
  }
}

/* auto-layout utility */
@utility auto-container {
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 640px) {
    border-left: 1px solid #303030;
    border-right: 1px solid #303030;
  }
  @media (min-width: 712px) {
    max-width: 40rem;
  }
}

/* Highlight.js Xcode theme */
.xml .hljs-meta {
  color: #6c7986;
}
.hljs-comment,
.hljs-quote {
  color: #6c7986;
}
.hljs-tag,
.hljs-attribute,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name {
  color: #fc5fa3;
}
.hljs-template-variable {
  color: #fc5fa3;
}
.hljs-code,
.hljs-string,
.hljs-meta-string {
  color: #fc6a5d;
}
.hljs-regexp,
.hljs-link {
  color: #5482ff;
}
.hljs-title,
.hljs-symbol,
.hljs-bullet,
.hljs-number {
  color: #41a1c0;
}
.hljs-section,
.hljs-meta {
  color: #fc5fa3;
}
.hljs-class .hljs-title,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
  color: #d0a8ff;
}
.hljs-attr {
  color: #bf8555;
}
.hljs-subst {
  color: #fff;
}
.hljs-formula {
  font-style: italic;
}
.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f;
}
.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}
.hljs-emphasis {
  font-style: italic;
}
