.xml .hljs-meta {
  color: #6c7986;
}
.hljs-comment,
.hljs-quote {
  color: #6c7986;
}
.hljs-tag,
.hljs-attribute,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name {
  color: #fc5fa3;
}
.hljs-template-variable {
  color: #fc5fa3;
}
.hljs-code,
.hljs-string,
.hljs-meta-string {
  color: #fc6a5d;
}
.hljs-regexp,
.hljs-link {
  color: #5482ff;
}
.hljs-title,
.hljs-symbol,
.hljs-bullet,
.hljs-number {
  color: #41a1c0;
}
.hljs-section,
.hljs-meta {
  color: #fc5fa3;
}
.hljs-class .hljs-title,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
  color: #d0a8ff;
}
.hljs-attr {
  color: #bf8555;
}
.hljs-subst {
  color: #fff;
}
.hljs-formula {
  font-style: italic;
}
.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f;
}
.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}
.hljs-emphasis {
  font-style: italic;
}
