@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./codeStyling.css";

@theme {
  --color-base: #1c1c1c;
  --color-border: #303030;
  --text-xs: 0.75em;
  --text-sm: 0.86em;
  --text-base: 0.94em;
  --text-lg: 1em;
  --text-xl: 1.125em;
  --font-mono: "CommitMono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-primary: #009bff;
}

@utility prose {
  --tw-prose-pre-bg: #282828;
}

@layer base {
  @font-face {
    font-family: "CommitMono";
    font-style: normal;
    font-weight: 400 600;
    font-display: swap;
    font-feature-settings:
      "ss03",
      "ss04",
      "ss05" "cv01",
      "cv02",
      "cv06",
      "cv07";
    line-height: 1;
    size-adjust: 90%;
    src: url("/fonts/CommitMono.woff2") format("woff2");
  }

  body {
    height: 100%;
    background-color: var(--color-base);
    color: #fafafa;
    font-optical-sizing: auto;
    font-size: var(--text-xs);
  }

  @media (min-width: 390px) {
    body {
      font-size: var(--text-sm);
    }
  }

  @media (min-width: 480px) {
    body {
      font-size: var(--text-base);
    }
  }

  code {
    font-family: var(--font-mono);
    line-height: 1;
  }
}

/* @utility  */
